/* Estilos globales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h1{
    color: white;
    text-align: center;
}


h2 {
    color: #2c3e50;
    text-align: center;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin: 10px 20px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos del encabezado */
header {
    background-color: #34495e;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos de las secciones */
.estilo {
    background-color: #ecf0f1;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos de las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #2c3e50;
    color: white;
}

td {
    background-color: #fff;
}

table tr:hover {
    background-color: #f5f5f5;
}

/* Estilos específicos */
#5PeliculasFA nav ul li {
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
}

#5PeliculasFA nav ul li h2 {
    margin: 0;
    padding-bottom: 10px;
    color: #2980b9;
}

#5PeliculasFA table th {
    text-align: center;
    background-color: #2980b9;
}

#5PeliculasFA table td {
    text-align: center;
}

/* Estilos para las listas de tus películas favoritas */
#5PeliculasFavoritas nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

#5PeliculasFavoritas nav ul li {
    background-color: #34495e;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    list-style: none;
}

#5PeliculasFavoritas nav ul li:hover {
    background-color: #2c3e50;
}

img {
    display: block;
    max-width: 300px;
    height: auto;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
